<%- include('../partials/header') %>
<head>
<nav class="head">
  
<ul class="nav justify-content-center">
<li class="nav-item">
<a class="nav-link active" href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Disabled</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Disabled</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Disabled</a>
</li>
<a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
<a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ul>

<br>
<br>
</nav>
</head>
<br>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to WorldCraft</h1>
    <p class="lead">A place for colaboritave storytelling!</p>
    <p class="lead">Please enter one of our worlds!</p>
    <div class="lead"><a href="./new">Create a new World</a></div>
  </div>
</div>
</head>




<body class="homeBody">
    
<% worlds.forEach(function(w) { %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="'https://imgur.com/I7CdlJg.png'" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">World Title</h5>
    <p class="card-text"><%= w.worldTitle %></p>
    <a href="./<%=w._id %>" class="btn btn-primary">Enter</a>
    <a href="./worlds/<%=w._id %>" class="btn btn-primary">EDIT WORLD</a>
    <% }); %>
  </div>
</div>

</body>





<table id="list">
  <thead>
    <tr>
      <th>World Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% worlds.forEach(function(w) { %>
      <tr>
        <td><%= w.worldTitle %></td>
        <td><a href="./<%=w._id %>">DETAILS</a></td>
        <td><a href="./worlds/<%=w._id %>">EDIT WORLD</a></td>
      </tr>
      <% }); %>
    </tbody>
    
  </table>
  <%- include('../partials/footer') %>