<%- include('../partials/header') %>

<section id="showWorld">
  <div>Title: </div>
  <div><%= world.worldTitle %></div>
  <div> Background: </div>
  <div><%= world.background %></div>
  <div>Technologie: </div>
  <div><%= world.technologie %></div>
  <div> Time Period: </div>
  <div><%= world.time %></div>
  <div>Culture:</div>
  <div><%= world.culture %></div>
  <div>combatTech </div>
  <div><%= world.combatTech %></div>
  <div> history</div>
  <div><%= world.history %></div>
  <div>supernaturalEl </div>
  <div><%= world.supernaturalEl %></div>
</section>